<div class="container">
  <div class="upload-container">
    <button mat-raised-button color="primary" (click)="saveRemainingCats()" [disabled]="isSaving">{{ isSaving ? 'Saving...' : 'Upload Images' }}</button>
  </div>
  <div class="grid">
      <div class="image-card" *ngFor="let cat of kucings">
          <div class="top-space">
            <span class="caption">{{ cat.id }}</span>
          </div>        
          <div class="image-container">
              <img [src]="cat.url" alt="Cat Image">
          </div>
          <div class="delete-container">
              <button class="delete-btn" (click)="deleteKucing(cat.id)">🗑</button>
          </div>
      </div>
  </div>
</div>
